
.header a {
  padding: 2rem;
  font-size: 1.2rem;
  text-decoration: none;
  color: #FFFDD0;
}

.header a:hover {font-size: 1.3rem;}

.header a:active {color: #D2B48C}

.header {
  background-color: #265b5f;
  text-align: center;
  padding: 2rem;

}

.App {
  text-align: center;
}

/*noinspection ALL*/
body {
  background-color: #2C2F33 ;
}
* {
  font-family: 'Open Sans', sans-serif;
}


